<div
  class="hidden py-8 mt-16 border-y border-gray-100 -800 sm:flex justify-center gap-10"
  dir="rtl"
>
  <div class="">
    <h6 class="text-lg font-semibold text-gray-700">
      <%= features[0].title %>
    </h6>
    <p class="mt-2 text-gray-500 max-w-40"><%= features[0].desc %></p>
  </div>
  <div class="">
    <h6 class="text-lg font-semibold text-gray-700">
      <%= features[1].title %>
    </h6>
    <p class="mt-2 text-gray-500 max-w-40"><%= features[1].desc %></p>
  </div>
  <div class="">
    <h6 class="text-lg font-semibold text-gray-700">
      <%= features[2].title %>
    </h6>
    <p class="mt-2 text-gray-500 max-w-40"><%= features[2].desc %></p>
  </div>
</div>
